{% extends "relays/base-bs5.html" %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-2">
        {% for server in servers %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="card-title">{{ server.name }}</h5>
                    </div>
                    <div class="card-body">
                        {% translate "Protocol" %}:<span class="badge bg-secondary">{{ server.protocol }}</span>
                        <br />
                        {% translate "Channels" %}:<span class="badge bg-secondary">{{ server.channel_count|intcomma }}</span>
                        <br />
                        {% translate "Users" %}:<span class="badge bg-secondary">{{ server.users|intcomma }}</span>
                        <br />
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'relays:server' server.server %}"><span class="btn btn-primary" role="button">{% translate "View Messages" %}: <span class="badge bg-secondary">{{ server.message_count|intcomma }}</span></a></span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
