{% extends "relays/base-bs5.html" %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <div class="card card-success col-lg-12 container-fluid">
        <div class="card-header">
            <span class="card-title">{% translate "Server" %}: {{ server.name }}</span>
        </div>
        <div class="card-body">{% include "relays/server_messages-bs5.html" %}</div>
    </div>
{% endblock content %}
{% block extra_javascript %}
    {% include "bundles/datatables-js-bs5.html" %}
    {% include "bundles/moment-js.html" with locale=True %}
{% endblock extra_javascript %}

{% block extra_css %}
    {% include "bundles/datatables-css-bs5.html" %}
{% endblock extra_css %}
{% block extra_script %}
new DataTable('#table-server-messages', {
    ajax: '/relays/api/datatables_server_messages/{{ server.server }}',
    processing: true,
    serverSide: true,
    stateSave: true,
    });
{% endblock extra_script %}
